.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
.card-title-text{
    /* color:#00FFFF; */
    font-weight: bold; 
    color:rgb(48, 194, 213);
    text-shadow: -2px -2px 5px rgba(82, 179, 218, 0.2);
}
#clrFiziksel{
    background-color:#419cdb; 
    padding: 15px;
    border-radius: 20px;
    /*#008080 Bu renkte güzel */
}
#clrFizikselPopup{
    background-color:#FFBF80; 
    padding: 15px;
    border-radius: 20px;
}
.center { 
    height: 50px;
    width: auto;
    position: relative;
  }
  
  .center h5{
   text-align: center;
  }
  .col-md-3 {
    flex: 0 0 24%;}
    tr{
        height: 45px;
        vertical-align: top;
        }
/*#bgsize{
    margin-left: -250px; 
    width: 1200px;
}*/

.modal-sub-header{
    background-color: #00c996;
            padding: 10px;
            padding-top: 15px;
            border-radius: 13px;
            margin-bottom: 10px;
            text-align: center;
        
  }