<nb-card>
  <br>
  <div class="col-md-12">
      <div id="clrFiziksel" class="center" >
        <h5  style="color: white">FILTRELEME</h5>
      </div>
    </div>
    <br>
     <div class="col-md-12">
      <div class="row">
              <div style="float:left" class="col-md-2">
                  <label style="color: black;font-weight: bold;">Engelli Adından</label>
                  <input name="_searchText" style="height: 40px;" [(ngModel)]="filter._ikadi" (ngModelChange)="getDisabledListFilter()" type="text" class="form-control form-control-sm" placeholder="Engelli Ara...">
                </div>
            <div style="float:left" class="col-md-2" style="margin-left: -15px;">
              <label style="color: black;font-weight: bold;">Engelli Grubundan</label>
              <select  style="width: 48%;" class="form-control form-control-sm" [(ngModel)]="filter.ikengelligrubu" (ngModelChange)="getFilterByName($event)">
                  <option value="null">HEPSİ</option>
                  <option value="ZİHİNSEL">ZİHİNSEL</option>
                  <option value="RUHSAL">RUHSAL</option>
                  <option value="BEDENSEL">BEDENSEL</option>
                </select>
            </div>
            <div style="float:left" class="col-md-2" style="margin-left: -160px;">
              <label style="color: black;font-weight: bold;">Cinsiyetinden</label>
              <select  style="width: 48%;" class="form-control form-control-sm"  [(ngModel)]="filter.ikcinsiyet" (ngModelChange)="getFilterByCins($event)">
                  <option value="null">HEPSİ</option>
                  <option value="Erkek">ERKEK</option>
                  <option value="Kadın">KADIN</option>
                </select>
            </div>
            <div style="float:left" class="col-md-2" style="margin-left: -160px;">
              <label style="color: black;font-weight: bold;">Sigara Kullanımından</label>
              <select style="width: 53%;" class="form-control form-control-sm"  [(ngModel)]="filter.iksigarakul" (ngModelChange)="getFilterBySigara($event)">
                  <option value="null">HEPSİ</option>
                  <option value="Sigara Kullanıyor">Sigara Kullanıyor</option>
                  <option value="Sigara Kullanmıyor">Sigara Kullanmıyor</option>
                </select>
            </div>
            
            <!-- Aktif Tarihleri filitresi.........-->
            <div style="float: left;"class="col-md-2" [hidden]="(selectoption.value=='false')||(selectoption.value=='null')" style="margin-left: -145px;">
              <label style="color: black;font-weight: bold;">Giriş Başlangıç Tarihinden</label>
              <input type="text" style="height: 40px;width: 66%;" class="form-control form-control-sm" [(ngModel)]="filter.ikkabultarihibas"  (ngModelChange)="getDisabledListFilter()" [ngModelOptions]="{standalone: true}" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" placeholder="Tarih belirleyiniz.">
            </div>
            <div style="float: left;"class="col-md-2" [hidden]="(selectoption.value=='false')||(selectoption.value=='null')" style="margin-left: -110px;">
              <label style="color: black;font-weight: bold;">Giriş Bitiş Tarihinden</label>
              <input type="text" style="height: 40px;width: 66%;" class="form-control form-control-sm" [(ngModel)]="filter.ikkabultarihibit"  (ngModelChange)="getDisabledListFilter()" [ngModelOptions]="{standalone: true}" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" placeholder="Tarih belirleyiniz.">
            </div>
            <!-----Pasif Tarihlerin Filitresi..........-->
            <div style="float: left;"class="col-md-2" [hidden]="(selectoption.value=='null') || (selectoption.value=='true')" style="margin-left: -145px;"><!-- || (selectoption.value=='null')-->
              <label style="color: black;font-weight: bold;">Çıkış Başlangıç Tarihinden</label>
              <input type="text" style="height: 40px;width: 66%;" class="form-control form-control-sm"  [(ngModel)]="filter.ikayrilistarbas"  (ngModelChange)="getDisabledListFilter()" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" placeholder="Tarih belirleyiniz.">
            </div>
            <div style="float: left;"class="col-md-2" [hidden]="(selectoption.value=='null')||(selectoption.value=='true')" style="margin-left: -110px;">
              <label style="color: black;font-weight: bold;">Çıkış Bitiş Tarihinden</label>
              <input type="text" style="height: 40px;width: 66%;" class="form-control form-control-sm" [(ngModel)]="filter.ikayrilistarbit"  (ngModelChange)="getDisabledListFilter()" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" placeholder="Tarih belirleyiniz.">
            </div>
            <div style="float: left;"class="col-md-2" style="margin-left: -110px;">
                <label style="color: black;font-weight: bold;">Durumundan</label>
                  <select style="width: 48%;" #selectoption [(ngModel)]="filter.kayitaktif"  (ngModelChange)="getDisabledListFilter()" [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" >
                    <option value=true>Aktif</option>
                    <option value=false>Pasif</option>
                    <option value=null>Hepsi</option>
                  </select>
              </div>
            <div style="float: right;">
                <button style="height:65px;font-size: 1rem;margin-left: 145px;"  [routerLink]="['../firstAcceptance']"  class="btn btn-info btn-tn pull-right">Yeni Engelli Ekle</button>
              </div>
          </div>
        </div>
        <br>
        </nb-card>
        <div style="margin-top: -18px">
          <app-formHeader></app-formHeader>
        </div>
<nb-card style="margin-top:-18px">
 <nb-card-body >
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <table class="table table-striped">
            <thead style="background: #C46210;vertical-align: top;">
              <tr style="color: white; height: 40px;">
                <th>Sıra No</th>
                <th>Adı Soyadı</th>
                <th>TC</th>
                <th>Cinsiyet</th>
                <th>Engel Grubu</th>
                <th>Sigara Kullanımı</th>
                <th>İlk Kabul Tarihi</th>
                <th>ASCHİM Onay Tarihi</th>
                <th>ASCHİM Onay No</th>
                <th [hidden]="selectoption.value =='true'">Ayrılış Tarihi</th>
                <th>Vasi Adı Soyadı</th>
                <th>İşlemler</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of _disabledList; let i=index ">
                <td>{{i+1}}</td>
                <td>{{e.ikadsoyad}} {{e.ikadisoyadi}}</td>
                <td>{{e.iktcno}}</td>
                <td>{{e.ikcinsiyet}}</td>
                <td>{{e.ikengelligrubu}}</td>
                <td>{{e.iksigarakul}}</td>
                <td style="color: green">{{e.ikkabultarihi | date:'dd/MM/yyyy'}}</td>
                <td style="color: green">{{e.ikaspimonaytar | date:'dd/MM/yyyy'}}</td>
                <td style="color: green">{{e.ikaspimonayno}}</td>
                <td style="color:red;" [hidden]="selectoption.value =='true'">{{e.ikayrilistar | date:'dd/MM/yyyy'}}</td>
                <td>{{e.vasiadisoyadi}}</td>
                <td>
                        <div class="btn-group btn-group-xs">
                            <a href="javascript:void(0)" style="margin-left:5px;" [routerLink]="['../firstAcceptance']" [queryParams]="{ id: e.ikid }" class="btn btn-info btn-xs">Düzenle</a>
                            <a href="javascript:void(0)" style="margin-left:5px;"  [hidden]="selectoption.value =='true'|| selectoption.value=='null'"
                            (click)="girisTab.show();getDisablee(e.ikid)" class="btn btn-success btn-xs">Tekrarla</a>
                          </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<div bsModal #girisTab="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style=" background-color: #419cdb">
      <div class="modal-header">
        <h5 id="dialog-sizes-name1" class="modal-title pull-left">Yeni Engelli Bilgileri</h5>
        <button type="button" class="close pull-right" (click)="girisTab.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <div class="form-group input-group-md">
      <div class="row">
          <div class="col-md-12">
              <div>
                  <div class="row">
                      
                      <div class="col-sm-6">
                        <div class="form-group input-group-md">
                            <label>Kabul Tarihi</label>
                            <input type="text"  [(ngModel)]="engelli.ikkabultarihi"   class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group input-group-md">
                          <label>ACSHİM  Onay Tarihi</label>
                          <input type="text"  [(ngModel)]="engelli.ikaspimonaytar"   class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                      </div>
                  </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group input-group-md">
                              <label>ACSHİM  Onay No</label>
                              <input type="text" [(ngModel)]="engelli.ikaspimonayno"  [ngModelOptions]="{standalone: true}" class="form-control text"><!--[(ngModel)]="mudurPersonel.pergiraspimonayno"  [ngModelOptions]="{standalone: true}"-->
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div style="float: right;">
                    <a href="javascript:void(0)" style="margin-right: 20px" (click)="girisTab.hide();" class="btn btn-hero-danger  btn-tn">Vazgeç</a>
                    <a href="javascript:void(0)"  (click)="reLoginDisablee();girisTab.hide();"  class="btn btn-success  btn-tn">Tamam</a>
                  </div>
              </div>
          </div>
      </div>
      </div>         
      </div>
    </div>
  </div>
</div>
<toaster-container>
</toaster-container>