<!-- 

<label for="typeahead-basic">Search for a state:</label>
<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model.ikadisoyadi" [ngbTypeahead]="search" [resultFormatter]="formatter"/>
<hr>
<pre>Model: {{ model | json }}</pre> -->
<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.ikadisoyadi" [term]="t"></ngb-highlight>
</ng-template>
<input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" (selectItem)="selectedItem($event)"  [ngbTypeahead]="search" [resultTemplate]="rt"
  [inputFormatter]="formatter" placeholder="Engelli Adı.." />
