<div class="main-content">

  <div class="content">
    <div class="item text-center" (click)="goto('plan')">
      <img src="http://www.armabilgisayar.net/engelli/137354-200.png" class="rounded"><br>
      <div class="title">
        <h5>Plan Yap</h5>

      </div>
    </div>
    <div class="item text-center" (click)="goto('kayit')">
      <img src="http://www.armabilgisayar.net/engelli/137354-200.png" class="rounded"><br>
      <div class="title">
          <h5>Kayıt Oluştur</h5>
      </div>
    </div>
  </div>

</div>