#clrFiziksel{
    background-color:#419cdb; 
    padding: 15px;
    border-radius: 20px;
}

.center { 
    height: 50px;
    width: auto;
    position: relative;
  }
  
  .center h5{
   text-align: center;
  }
  table tr td{
    width: 12%;
}
  