 <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <nb-card size="active">
      <br>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h5>{{list.title}}</h5>
          </div>
         
        </div>
        <hr>
      </div>


      <br>
      <div class="col-md-12">

        <table class="table  table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">Döküman Kodu</th>
              <th scope="col">Döküman Adı</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plan of list.list" [routerLink]="['../'+plan.link]" >
              <th>
                {{plan.code}}
              </th>
              <th>
                {{plan.name}}
              </th>
            </tr>

          </tbody>
        </table>
      </div>

    </nb-card>
  </div>
  <br>
</div> 