<nb-card style="border-style:groove">
  <div class="row form-header">
    <div style="margin-left:35px;">
      <div style="border-right: 1px solid #cccccc;">
        <img class="card-img-top" id="careCenterImage" [src]="_photoUrl" style="width: 160px;" height="160px" alt="image">
      </div>
    </div>
    <div class=" form-header-tittle">
          <h5 style="text-align: center">
              <h5>DÖKÜMAN BAŞLIĞI</h5>
          </h5>
    </div>
    <div style="margin-right: 12px;" align="right">
  
        <table class="table table-bordered" style="margin-right: 100px" height="100%">
          <tbody>
          <tr>
            <td><strong>Döküman Kodu</strong></td>
            <td>GNL.LST.021</td>
          </tr>
          <tr>
            <td><strong>Yayın Tarihi</strong></td>
            <td>01/04/2017</td>
          </tr>
          <tr>
            <td><strong>Revizyon Tarihi</strong></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>Revizyon No</strong></td>
            <td>00</td>
          </tr>
          <tr>
              <td><strong>Sayfa No</strong></td>
              <td>1/-</td>
            </tr>
        </tbody>
        </table>
      </div>
  </div>
</nb-card>